* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: blue;
}

form{
  background-color: blueviolet;
  width: fit-content;
  margin: auto;
}

.map{
  width: fit-content;
  margin: auto;
}