* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: blue;
}

form{
  background-color: blueviolet;
  width: fit-content;
  margin: auto;
}

.map{
  display: flex;
  width: auto;
  height: auto;
  /* width: fit-content;  */
  /* height: fit-content; */
  /* height: 600px; */
  /* margin: auto; */
}

/* body { */
  /* height: fit-content; */
/* } */